.navbar {
    z-index: 2;
}

.brand-container {
    width: 300px;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

#sidebarCollapse {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;

}

#sidebarCollapse > i {
    font-size: 2rem;
    color: white;
}

/* light/dark mode button */
#themeButton {
    margin-right: 3px;
    display: inline;
    font-size: 11px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #ffc400;
    color: white;
    cursor: pointer;
    padding: 7px;
  }

  #themeButton:active{
    background-color: #9d7800;
  }