<h1 class="title">CLI (Command Line Interface)</h1>

<h2>Comandos</h2>

<ul>
    <li><b>ng new [<em>project-name</em>]:</b> Genera un nuevo proyecto</li>
    <li><b>ng generate [<em>param</em>]:</b> Genera un elemento nuevo de angular</li>
    <li><b>ng serve:</b> Sirve la aplicación</li>
    <li><b>ng build:</b> Compila una aplicación o libreria de angular en la carpeta especificada que por defecto es "dist/"</li>
    <li><b>ng test:</b> Ejecuta los test</li>
    <li><b>ng e2e:</b> Sirve la aplicación y mas tarde ejecuta los test</li>
    <li><b>ng add [<em>external-library-name</em>]:</b> Para añadir librerias nuevas</li>
</ul>

<h3>ng generate [<em>param</em>]</h3>

<p>Params:</p>
<ul>
    <li>app-shell</li>
    <li>application</li>
    <li>class</li>
    <li>component</li>
    <li>config</li>
    <li>directive</li>
    <li>enum</li>
    <li>environments</li>
    <li>guard</li>
    <li>interceptor</li>
    <li>interface</li>
    <li>library</li>
    <li>module</li>
    <li>pipe</li>
    <li>resolver</li>
    <li>service</li>
    <li>service-worker</li>
    <li>web-worker</li>
</ul>